*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url(marketting.jpg);
    background-size: cover;
    font-family: sans-serif;
}
.menubar{
    background: #34495E ;
    text-align: center;
    border-radius: 5px;
}
.menubar ul {
    display: inline-flex;
    list-style: none;
    color: white;
}
.menubar ul li {
width: 120px;
margin: 15px;
padding: 15PX;

}
.menubar ul li a {
    text-decoration: none;
    color:orange ;
}
.active, .menubar ul li :hover {
    background: gray;
    border-radius: 5px;
}
.food-menu{
    background-color:#34495E;
    width: 20%;
    height: 350px;
    text-align: center;
    border: gray 2px;
    margin: 20px 40px;
    float: left;
    border-radius: 10px;
    color: white;
    align-items: center;
    

}
.text{
    font: serif;
    margin-top: 10px;
    
}
.text2{
   text-decoration:justify;
   color: rgb(0, 0, 0);
   font-family: 'Times New Roman', Times, serif;
   text-align: center;
   color: white;
   
   
}
.ab{
    font-family:serif;
    text-align: center;
    color: rgb(255, 251, 0);
    background: rgb(5, 234, 250);
    border-radius: 5px;
    padding: 20px;
}
.all{
    width:100%;
}
.bd{
    padding: 20px;
   border-radius: 20px;
}
.dalivery{
    text-align: center;
    size: 50px;
    background-color: hotpink;
    width: 50%;
    margin: 20px;
    margin-left:450px;
    padding: 10px;
}
.address{
    font: serif;
    color: white;
    text-align: center;
      
}
.p{
    
    color: white;
    margin: 20px;
    background-color: rgb(0, 0, 0);
    width: 150px;
    text-align: center;
}
#header{
    margin-bottom: 10px;
}
#pick-up{
    padding: 2px;
}
.buttons{
    background-color: rgb(0, 0, 0);
    padding: 3px;
    width: 150px;
    color: cornsilk; 
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom:30px ;
    position: relative;
    overflow: hidden;

}
.campus{
    text-align: center;
    background-color:#ffffff;
    border-radius: 10px;
}